$font-family-sans-serif: "Inter", arial, sans-serif;

$primary: #a1b5a7;
$primarydark: #505A53;
$lightgray: #929292;
$dustyblue: #8796a5;

$theme-colors: (
  "primary": $primary,
  "primarydark": $primarydark,
  "secondary": $dustyblue,
  "danger": #ff4136,
  "dark": #373636,
);
